<template>
  <div class="container">
    <h1>Pokemon</h1>
    
    <PokemonSearch 
    :apiUrl="apiUrl" 
    @setPokemonUrl="setPokemonUrl" />

    <PokemonList 
    :imageUrlfront="imageUrlfront" 
    :apiUrl="apiUrl"
    @setPokemonUrl="setPokemonUrl" />

    <PokemonDetail 
    v-if="displayDetailPokemon"
    :pokemonUrl="pokemonUrl"
    :imageUrlfront="imageUrlfront"
    :imageUrlback="imageUrlback"
    @closeDetailPokemon="closeDetailPokemon" 
    @setTypeUrl="setTypeUrl" 
    @setAbilityUrl="setAbilityUrl"/>

    <TypeDetail
    v-if="displayDetailType"
    :typeUrl="typeUrl"
    @closeDetailType="closeDetailType"/>

    <AbilityDetail
      v-if="displayDetailAbility"
      :abilityUrl="abilityUrl"
      @closeDetailAbility="closeDetailAbility"/>


  </div>
</template>

<script>
    import PokemonSearch from '../components/PokemonSearch.vue';
    import PokemonList from '../components/PokemonList.vue';
    import PokemonDetail from '../components/PokemonDetail.vue';

    import TypeDetail from '../components/TypeDetail.vue';
    import AbilityDetail from '../components/AbilityDetail.vue';


 export default {
    data: () => {
      return {
        imageUrlfront: 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/',
        imageUrlback : 'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/',
        
        apiUrl: 'https://pokeapi.co/api/v2/pokemon/',
        pokemonUrl: '',
        displayDetailPokemon: false,

        typeUrl: '',
        displayDetailType: false,

        abilityUrl: '',
        displayDetailAbility: false,
      }
    },
    components: {
      PokemonSearch,
      PokemonList,
      PokemonDetail,
      
      TypeDetail,

      AbilityDetail
    },
    methods: {
      setPokemonUrl(url) {
        this.pokemonUrl = url;
        this.displayDetailPokemon = true;
      },
      closeDetailPokemon() {
        this.pokemonUrl = '';
        this.displayDetailPokemon = false;
      },

      setTypeUrl(url) {
        this.typeUrl = url;
        this.displayDetailType = true;
      },
      closeDetailType() {
        this.typeUrl = '';
        this.displayDetailType = false;
      },

      setAbilityUrl(url) {
        this.abilityUrl = url;
        this.displayDetailAbility = true;
      },
      closeDetailAbility() {
        this.abilityUrl = '';
        this.displayDetailAbility = false;
      }
    }
  }
</script>


<style lang='css' scoped>

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: calc(100% - 20px);
        min-height: calc(95vh);
        background-image: url("../assets/pokedex-back3.png");
        background-attachment: fixed;
        

        font-family: 'Acme',arial;
        font-size: 1rem;
        font-weight: normal;
    }

    h1{
        color: white;
    }
</style>