<template>
  <div class="container">
    <h1>Types</h1>
    <!--
    <TypeSearch
    :apiUrlType="apiUrlType" 
    @setTypeUrl="setTypeUrl" />
-->
    <TypeList 
    :apiUrlType="apiUrlType" 
    @setTypeUrl="setTypeUrl" />

    <TypeDetail
    v-if="displayDetailType"
    :typeUrl="typeUrl"
    @closeDetailType="closeDetailType" />
  </div>
</template>


<script>
    import TypeList from '../components/TypeList.vue';
    import TypeSearch from '../components/TypeSearch.vue';
    import TypeDetail from '../components/TypeDetail.vue';


 export default {
    data: () => {
      return {
        apiUrlType: 'https://pokeapi.co/api/v2/type/',
        typeUrl: '',
        displayDetailType: false,
      }
    },
    components: {
      TypeList,
      TypeSearch,
      TypeDetail
    },
    methods: {
      setTypeUrl(url) {
        this.typeUrl = url;
        this.displayDetailType = true;
      },
      closeDetailType() {
        this.typeUrl = '';
        this.displayDetailType = false;
      }
    }
  }
</script>


<style lang='css' scoped>

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        width: calc(100% - 20px);
        min-height: calc(88vh);
        background-image: url("../assets/pokedex-back3.png");
        background-attachment: fixed;
        
        font-family: 'Acme',arial;
        font-size: 1rem;
        font-weight: normal;
    }

    h1{
        color: white;
    }
</style>