<template>
  <div class="detail">
    <div class="detail-view" v-if="showability">
      <div  class="data" v-if="ability">
        <table>
          <tr>
            <th><h2>{{ ability.name }}</h2></th>
          </tr>
          <tr>
            <th><h3>Description</h3></th>
          </tr>
          <tr>
            <td>{{ ability.effect_entries[0].effect }}</td>
          </tr>
        </table>
      </div>
      <h2 v-else>Ability not found</h2>
      <button class="close" @click="closeDetailAbility">Close</button>
    </div>
    <i v-else class="fas fa-spinner fa-spin"></i>
  </div>
</template>

<script>
  export default {
    props: [
      'abilityUrl'
    ],
    data: () => {
      return {
        showability: false,
        ability: {}
      }      
    },
    methods: {
      fetchData() {
        let req = new Request(this.abilityUrl);
        fetch(req)
          .then((resp) => {
            if(resp.status === 200)
              return resp.json();
          })
          .then((data) => {
            console.log(data)
            this.ability = data;
            this.showability = true;
          })
      },
      closeDetailAbility() {
        this.$emit('closeDetailAbility');
      },
    },
    created() {
      this.fetchData();
    },
    
  }
</script>
<style lang="scss" scoped>

.detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    padding: 90px 10px 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    background: rgba($color: #000000, $alpha: .7);
    text-transform: capitalize;

    .detail-view {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      max-width: 510px;
      padding: 50px 0 0;
      background-image: url("../assets/pokedex.png");
       background-size: cover;
      border-radius: 5px;
      box-shadow: 0 15px 30px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2);
    }

    table{
      border-collapse: collapse;
    }
    th{
      width: 50%;
      border-bottom: 5px solid orangered !important;
      background-color: lightgray;
      background-repeat: no-repeat ;
    }
    
    td{
      border: #000000;
      background-color: white;
      height: 30px;
      padding: 5px;
    }
    .close {
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #efefef;
        padding: 10px 20px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        cursor: pointer;
        margin: 10px 10px;
      }
}
</style>
