<template>
  <div class="detail">
    <div class="detail-view" v-if="display">
      <div  class="data" v-if="pokemon">
        <table style="width:100%" >
          <tr>
            <th colspan="2"><h2>No.{{ pokemon.id }}</h2></th>
            <th colspan="2"><h2>{{ pokemon.name }}</h2></th>
          </tr>

          <tr>
            <td colspan="4" class="pokemon-image">
                  <div v-if="pokemon" class="image">
                    <img :src="imageUrlfront + pokemon.id + '.png'" width="96" height="96" alt="">
                    <img :src="imageUrlback + pokemon.id + '.png'" width="96" height="96" alt="" @click="setTypeUrl(pokemon.type.url)">
                  </div>
            </td>
          </tr>

          <tr>
            <td class="info-name" colspan="2">Type</td>
            <td colspan="2"><div class="type" :id="type.type.name"
                v-for="type in pokemon.types"
                :key="type"
                @click="setTypeUrl(type.type.url)">
                {{ type.type.name }}</div>
            </td>
          </tr>

          <tr>
            <td class="info-name" colspan="2">Height</td>
            <td class="info-case" colspan="2"><div class="left" id="info">{{ pokemon.height / 10 }} m</div></td>
          </tr>

          <tr>
            <td class="info-name" colspan="2">Weight</td>
            <td class="info-case" colspan="2"><div class="left" id="info">{{ pokemon.weight / 10 }} kg</div></td>
          </tr>

          <tr>
            <th colspan="4">
              <h3>Stat</h3>
            </th>
          </tr>  

          <tr v-for="stat in pokemon.stats" :key="stat">
            <td colspan="2" class="info-name"><div class="left">{{ stat.stat.name }}</div></td>
            <td class="info-case"><div class="left" id="info"> {{ stat.base_stat }} </div></td>
            <td class="info-case" ><progress  :id="stat.stat.name"  :value="stat.base_stat" max="252"></progress></td>
          </tr>

          <tr>
            <th colspan="4">
              <h3>Ability</h3>
            </th>
          </tr>
          
          <tr>
            <td colspan="4"><div class="ability info-case" 
                v-for="ability in pokemon.abilities"
                :key="ability"
                @click="setAbilityUrl(ability.ability.url)">
                {{ ability.ability.name }}</div>
            </td>
          </tr>
        </table> 
      </div>
      <h2 v-else>Pokemon not found</h2>
      <button class="close" @click="closeDetailPokemon">Close</button>
      
    </div>
    <i v-else class="fas fa-spinner fa-spin"></i>
  </div>
</template>

<script>
  export default {
    props: [
      'pokemonUrl',
      'imageUrlfront',
      'imageUrlback'
    ],
    data: () => {
      return {
        display: false,
        pokemon: {}
      }      
    },
    methods: {
      fetchData() {
        let req = new Request(this.pokemonUrl);
        fetch(req)
          .then((resp) => {
            if(resp.status === 200)
              return resp.json();
          })
          .then((data) => {
            this.pokemon = data;
            this.display = true;
          })
      },
      closeDetailPokemon() {
        this.$emit('closeDetailPokemon');
      },
      setTypeUrl(url){
        this.$emit('setTypeUrl', url);
      }, 
      setAbilityUrl(url){
        this.$emit('setAbilityUrl', url);
      }, 
    },
    created() {
      this.fetchData();
    },
    
  }
  

</script>
<style lang="scss" scoped>

.detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    padding: 90px 10px 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    background: rgba($color: #000000, $alpha: .7);
    text-transform: capitalize;

    .detail-view {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      max-width: 510px;
      padding: 50px 0 0;
      background-image: url("../assets/pokedex.png");
       background-size: cover;
      border-radius: 5px;
      box-shadow: 0 15px 30px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2);
    }
    .info-name{
      background-color: lightgray;
      width: 50%;
      border-bottom: 3px solid rgb(177, 175, 175);
    }
    .info-case{
       border: 10 0 0 0 white, -10 0 0 0 white;
    }
    table{
      border-collapse: collapse;
    }
    th{
      width: 50%;
      border-bottom: 5px solid orangered !important;
      background-color: lightgray;
    }
    
    td{
      border: #000000;
      background-color: white;
    }
    .close {
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #efefef;
        padding: 10px 20px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        cursor: pointer;
        margin: 10px 10px;
      }
      .type, .ability {
            padding: 5px 10px;
            border-radius: 10px;
            color: #fff;
            font-size: 1rem;
            letter-spacing: 2px;
            text-transform: capitalize;
            word-wrap: none;
            word-break: keep-all;
            cursor: pointer;
          }
      .ability{
        width: 40%;
        float: left;
        margin: 6px;
      }
      .type{
        float: left;
          width: 64px;
          padding-left: 30px;
          background-size: 20px 20px;
          background-repeat: no-repeat ;
          background-position: 5px 50%;
      }
      #normal{ background-color: rgb(144,153,161); background-image: url('../assets/Normal.png');}
      #fire{ background-color: rgb(255,156,84); background-image: url('../assets/Fire.png');}
      #fighting{ background-color: rgb(206,64,105); background-image: url('../assets/Fighting.png');}
      #water{ background-color: rgb(77, 144, 213); background-image: url('../assets/Water.png');}
      #flying{ background-color: rgb(149,168,221); background-image: url('../assets/Flying.png');}
      #grass{ background-color: rgb(99,187,91); background-image: url('../assets/Grass.png');}
      #poison{ background-color: rgb(171,106,200); background-image: url('../assets/Poison.png');}
      #electric{ background-color: rgb(243,210,59); background-image: url('../assets/Electric.png');}
      #ground{ background-color: rgb(217,119,70); background-image: url('../assets/Ground.png');}
      #psychic{ background-color: rgb(249,113,118); background-image: url('../assets/Psychic.png');}
      #rock{ background-color: rgb(199,183,139); background-image: url('../assets/Rock.png');}
      #ice{ background-color: rgb(116,206,192); background-image: url('../assets/Ice.png');}
      #bug{ background-color: rgb(144,193,44); background-image: url('../assets/Bug.png');}
      #dragon{ background-color: rgb(10,109,196); background-image: url('../assets/Dragon.png');}
      #ghost{ background-color: rgb(82,105,172); background-image: url('../assets/Ghost.png');}
      #dark{ background-color: rgb(90,83,102); background-image: url('../assets/Dark.png');}
      #steel{ background-color: rgb(90,142,161); background-image: url('../assets/Steel.png');}
      #fairy{ background-color: rgb(236,143,230); background-image: url('../assets/Fairy.png');}
      .type{background-color: #68A090;}

      .ability { background-color: #C73015;}
      
      #speed::-moz-progress-bar {
        background-color: #a0f0f0;
      }
      #special-defense::-moz-progress-bar {
        background-color: #e8c868;
      }

      #special-attack::-moz-progress-bar {
        background-color: #f8c8a0;
      }
      #defense::-moz-progress-bar {
        background-color: #f0f0a0;
      }
      #attack::-moz-progress-bar {
        background-color: #f0a0a0;
      }
      #hp::-moz-progress-bar {
        background-color: #a0f0a0;
      }
      progress{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-color: white;
        margin-left: 20px;
      }
      progress::-moz-progress-bar {
        border-radius: 7px;
      }
      .left { float: left;}
      .right { float: right; }
      .center { float: center; }

      #info{
       margin-left: 10px;
      }
}
</style>
