<template>
  <div class="list">
    <article v-for="(type,index) in types"
    :key="'type'+index"
    @click="setTypeUrl(type.url)" class='type' :id="type.name">
    <tr>
        <th><h3> {{ type.name }}</h3></th>
    </tr>
    </article>
  </div>
</template>

<script>
  export default {
    props: [
      'apiUrlType'
    ],
    data: () => {
      return {
        types: [],
        Url: '',
      }      
    },
    methods: {
      fetchData() {
        let req = new Request(this.Url);
        fetch(req)
          .then((resp) => {
            if(resp.status === 200)
              return resp.json();
          })
          .then((data) => {
            this.nextUrl = data.next;
            data.results.forEach(type => {
              type.id = type.url.split('/')
                .filter(function(part) { return !!part }).pop();
              this.types.push(type);
            });
          })
      },
      setTypeUrl(url) {
        this.$emit('setTypeUrl', url);
        console.log(url)
      }
    },
    created() {
      this.Url = this.apiUrlType;
      this.fetchData();
    }
  }

</script>


<style lang="scss" scoped>
  .list {
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    width: 100%;
    max-width: 510px;

    article {
      height: 100px;
      background-color: #efefef;
      text-align: center;
      text-transform: capitalize;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 15px 30px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2);

      tr{
        width: 100%;
        margin-top: 50%;
        height: 150px;
        
        th{
          width: 170px;
          border: 2px black;
          vertical-align: middle
        }
      }
    }
  }
  .type{
          background-size: 50px 50px;
          background-repeat: no-repeat ;
          background-position: 50% 10%;
          background-color: #68A090;
      }
      #normal{ background-color: rgb(144,153,161); background-image: url('../assets/Normal.png');}
      #fire{ background-color: rgb(255,156,84); background-image: url('../assets/Fire.png');}
      #fighting{ background-color: rgb(206,64,105); background-image: url('../assets/Fighting.png');}
      #water{ background-color: rgb(77, 144, 213); background-image: url('../assets/Water.png');}
      #flying{ background-color: rgb(149,168,221); background-image: url('../assets/Flying.png');}
      #grass{ background-color: rgb(99,187,91); background-image: url('../assets/Grass.png');}
      #poison{ background-color: rgb(171,106,200); background-image: url('../assets/Poison.png');}
      #electric{ background-color: rgb(243,210,59); background-image: url('../assets/Electric.png');}
      #ground{ background-color: rgb(217,119,70); background-image: url('../assets/Ground.png');}
      #psychic{ background-color: rgb(249,113,118); background-image: url('../assets/Psychic.png');}
      #rock{ background-color: rgb(199,183,139); background-image: url('../assets/Rock.png');}
      #ice{ background-color: rgb(116,206,192); background-image: url('../assets/Ice.png');}
      #bug{ background-color: rgb(144,193,44); background-image: url('../assets/Bug.png');}
      #dragon{ background-color: rgb(10,109,196); background-image: url('../assets/Dragon.png');}
      #ghost{ background-color: rgb(82,105,172); background-image: url('../assets/Ghost.png');}
      #dark{ background-color: rgb(90,83,102); background-image: url('../assets/Dark.png');}
      #steel{ background-color: rgb(90,142,161); background-image: url('../assets/Steel.png');}
      #fairy{ background-color: rgb(236,143,230); background-image: url('../assets/Fairy.png');}
      #unknown{ background-color: rgb(104, 161, 145); background-image: url('../assets/Unknown.png');}
      #shadow{ background-color: rgb(0, 0, 0); background-image: url('../assets/Shadow.png');}
      
</style>

