<template>
  <div class="detail">
    <div class="detail-view" v-if="showtype">
      <div  class="data" v-if="type">
        <table  >
          <tr>
            <th colspan="2" :id="type.name"><h2>{{ type.name }}</h2></th>
          </tr>
          <tr>
            <th colspan="2"><h3>Defending</h3></th>
          </tr>
          <tr>
            <td class="info-name" >Weakness</td>
            <td><div class="type info-case" :id="weakness.name"
                v-for="weakness in type.damage_relations.double_damage_from"
                :key="weakness">
                {{ weakness.name }}</div>
            </td>
          </tr>
          <tr>
            <td class="info-name">Resistance</td>
            <td><div class="type  info-case" :id="resistance.name"
                v-for="resistance in type.damage_relations.half_damage_from"
                :key="resistance">
                {{ resistance.name }}</div>
            </td>
          </tr>
          <tr>
            <td class="info-name" >Ineffective</td>
            <td><div class="type info-case" :id="ineffective.name"
                v-for="ineffective in type.damage_relations.no_damage_from"
                :key="ineffective">
                {{ ineffective.name }}</div>
            </td>
          </tr>
          <tr>
            <th colspan="2"><h3>Attacking</h3></th>
          </tr>
          <tr>
            <td class="info-name" >Effectiveness</td>
            <td><div class="type info-case" :id="effectiveness.name"
                v-for="effectiveness in type.damage_relations.double_damage_to"
                :key="effectiveness">
                {{ effectiveness.name }}</div>
            </td>
          </tr>
          <tr>
            <td class="info-name" >Not very effective</td>
            <td><div class="type info-case" :id="not_effective.name"
                v-for="not_effective in type.damage_relations.half_damage_to"
                :key="not_effective">
                {{ not_effective.name }}</div>
            </td>
          </tr>
          <tr>
            <td class="info-name" >Ineffective</td>
            <td><div class="type info-case" :id="ineffective.name"
                v-for="ineffective in type.damage_relations.no_damage_to"
                :key="ineffective">
                {{ ineffective.name }}</div>
            </td>
          </tr>

        </table> 
      </div>
      <h2 v-else>Type not found</h2>
      <button class="close" @click="closeDetailType">Close</button>
    </div>
    <i v-else class="fas fa-spinner fa-spin"></i>
  </div>
</template>

<script>
  export default {
    props: [
      'typeUrl'
    ],
    data: () => {
      return {
        showtype: false,
        type: {}
      }      
    },
    methods: {
      fetchData() {
        let req = new Request(this.typeUrl);
        fetch(req)
          .then((resp) => {
            if(resp.status === 200)
              return resp.json();
          })
          .then((data) => {
            this.type = data;
            this.showtype = true;
          })
      },
      closeDetailType() {
        this.$emit('closeDetailType');
      },
    },
    created() {
      this.fetchData();
    },
    
  }
</script>


<style lang="scss" scoped>

.detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    padding: 90px 10px 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    background: rgba($color: #000000, $alpha: .7);
    text-transform: capitalize;

    .detail-view {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      width: 100%;
      max-width: 510px;
      padding: 50px 0 0;
      background-image: url("../assets/pokedex.png");
       background-size: cover;
      border-radius: 5px;
      box-shadow: 0 15px 30px rgba(0,0,0,.2),
                  0 10px 10px rgba(0,0,0,.2);
    }
    .info-name{
      background-color: lightgray;
      width: 10%;
      border-bottom: 3px solid rgb(177, 175, 175);
      
    }

    table{
      border-collapse: collapse;
      width: 370px;
    }
    th{
      width: 50%;
      border-bottom: 5px solid orangered !important;
      background-color: lightgray;
      background-repeat: no-repeat ;
    }
    
    td{
      border: #000000;
      background-color: white;
      height: 30px;
      padding: 5px;
    }
    .close {
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #333;
        color: #efefef;
        padding: 10px 20px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        cursor: pointer;
        margin: 10px 10px;
      }
      .type{
            padding: 5px 10px;
            border-radius: 10px;
            color: #fff;
            font-size: 1rem;
            letter-spacing: 2px;
            text-transform: capitalize;
            word-wrap: none;
            word-break: keep-all;
            width: 70px;
            padding-left: 30px;
            background-size: 20px 20px;
            background-repeat: no-repeat ;
            background-position: 5px 50%;
            float: left;
            margin : 2px;
      }
      #normal{ background-color: rgb(144,153,161); background-image: url('../assets/Normal.png');}
      #fire{ background-color: rgb(255,156,84); background-image: url('../assets/Fire.png');}
      #fighting{ background-color: rgb(206,64,105); background-image: url('../assets/Fighting.png');}
      #water{ background-color: rgb(77, 144, 213); background-image: url('../assets/Water.png');}
      #flying{ background-color: rgb(149,168,221); background-image: url('../assets/Flying.png');}
      #grass{ background-color: rgb(99,187,91); background-image: url('../assets/Grass.png');}
      #poison{ background-color: rgb(171,106,200); background-image: url('../assets/Poison.png');}
      #electric{ background-color: rgb(243,210,59); background-image: url('../assets/Electric.png');}
      #ground{ background-color: rgb(217,119,70); background-image: url('../assets/Ground.png');}
      #psychic{ background-color: rgb(249,113,118); background-image: url('../assets/Psychic.png');}
      #rock{ background-color: rgb(199,183,139); background-image: url('../assets/Rock.png');}
      #ice{ background-color: rgb(116,206,192); background-image: url('../assets/Ice.png');}
      #bug{ background-color: rgb(144,193,44); background-image: url('../assets/Bug.png');}
      #dragon{ background-color: rgb(10,109,196); background-image: url('../assets/Dragon.png');}
      #ghost{ background-color: rgb(82,105,172); background-image: url('../assets/Ghost.png');}
      #dark{ background-color: rgb(90,83,102); background-image: url('../assets/Dark.png');}
      #steel{ background-color: rgb(90,142,161); background-image: url('../assets/Steel.png');}
      #fairy{ background-color: rgb(236,143,230); background-image: url('../assets/Fairy.png');}
      #unknown{ background-color: rgb(104, 161, 145); background-image: url('../assets/Unknown.png');}
      #shadow{ background-color: rgb(0, 0, 0); background-image: url('../assets/Shadow.png');}
      
}
</style>
